:root {
	--site-width: 900px;
	--side-padding: calc((100vw - var(--site-width)) / 2);
	--nav-background-color: rgba(240, 245, 255, 0.9);
	--nav-height: 3rem;

	--accent-color: #3fb2ff;
	--accent-hover-color: #34495e;

	color: rgba(0, 0, 0, 0.9);
	font-size: calc(12px + 1vw);
	font-family: 'DIN', 'Open Sans', sans-serif;
	text-align: center;
}
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}

div, header, main, article, section, footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
p, h1, h2, h3, ul {
	margin: 0;
}

a {
	text-decoration: none;
	transition: 0.3s;
}
/* a:hover {
	opacity: 0.8;
} */
p a:hover {
	box-shadow: inset 0 -3px;
}
main a {
	color: var(--accent-color);
	font-weight: 600;
}
/* a.sponsorship-email {
	color: #ffb347;
} */

img, canvas {
	display: block;
	max-width: 100%;
	margin: auto;
	transition: 0.3s;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

input {
	background: none;
	border: none;
	font: inherit;
}
input:focus {
	outline: none;
}
input[type=email] {
	border-bottom: var(--accent-color) 2px solid;
	margin: 1rem 0;
	font-size: 0.9rem;
	transition: 0.2s;
	padding: 0.5rem 0;
	width: 100%;
}
input[type=email]:hover {
	border-bottom: var(--accent-hover-color) 2px solid;
}

input[type=submit] {
	font-size: 0.8rem;
	max-width: 200px;
	padding: 0.5rem 1rem;
	background-color: var(--accent-color);
	color: white;
	cursor: pointer;
	transition: 0.2s;
}
input[type=submit]:hover {
	background-color: var(--accent-hover-color);
}


nav, nav ul, nav ul li {
	display: flex;
}
nav {
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		var(--nav-background-color) var(--side-padding),
		var(--nav-background-color) calc(100vw - var(--side-padding)),
		rgba(255, 255, 255, 0)
	);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

	position: fixed;
	top: 0;
	width: 100vw;
	height: var(--nav-height);
	padding: 0 var(--side-padding);

	z-index: 1;
}
nav ul {
	padding: 0;
	align-items: center;
}
nav #logo {
	background: url('../images/Los-Altos-Hacks-Logo.svg') 1rem/auto 65% no-repeat;
	min-width: 5rem;
	height: 100%;
	margin-right: auto;
}
nav ul li a {
	color: inherit;
	padding: 0 1rem;
	line-height: var(--nav-height);
}



section {
	padding: 2.5rem 2rem;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.95);
	isolation: isolate;
}
section:nth-child(even) {
	background-color: rgba(250, 253, 255, 0.9);
}

footer {
	align-items: center;
	padding: 2rem 2rem;
	background-color: #22303d;
	color: white;
	isolation: isolate;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 40%;
	background-color: #e3e7ed;
	height: 2px;
	margin: 3.5rem auto;
	margin-bottom:2rem;
}

.row {
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	max-width: var(--site-width);

}
.row > * {
	flex: 1 320px;
}
.row.medium-columns > * {
	flex: 1 250px;
	margin: 1rem;
}
.row.small-columns > * {
	flex: 1 1 calc(130px + 10vw);
	padding: 1rem;
}
.row > * > * + * {
	margin-top: 1rem;
}

#top {
	background: radial-gradient(white, #67b7e1);
	padding-top: 3rem;
	padding-bottom: 3rem;
	min-height: 100vh;
}
@media (min-width: 717px) {
	#top {
		text-align: left;
	}
}
.gradient-text {
	background: -webkit-linear-gradient(40deg, #106eb8, #a0d2f0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: rgba(82, 190, 230, 0.5) 1px 1px 0.1em
}

#teaser-animation {
	/* mix-blend-mode: multiply; */
	transition: 0.3s;
}
#teaser-animation:not(:hover) {
	z-index: 1;
}
#teaser-animation:hover {
	filter: saturate(1.1) drop-shadow(currentColor 1px 1px 10px);
	color: rgb(204, 236, 247);
	transform: (1.001);
	animation: Pop 0.3s;
}
@keyframes Pop {
	from, to { transform: none }
	20% { transform: scale(1.1) }
}

#top-canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	mix-blend-mode: overlay;
	mix-blend-mode: color-burn;
	pointer-events: none;
	/*opacity: 0.75;*/
	z-index: 0;
}


#apply {
	flex-direction: row;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 1rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
	width: -webkit-min-content;
	width: min-content;
}
#apply h2 {
	margin-right: 1rem;
}
#apply a {
	font-size: 1.25em;
}
#apply .hacker {
	color: #3fb2ff;
}
#apply .mentor {
	color: #ff5069;
}


.faq-wrapper {
	font-size: 0.75em;
	line-height: 1.65;
	margin-left: -1rem;
	margin-right: -1rem;
}
.faq-wrapper > * {
	padding: 1rem;
}


.team-wrapper > * {
	padding: 1rem;
}
#team img {
	border-radius: 50%;
}


#email-signup {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 5px 14px 0px rgba(69,69,69,0.25);
	border-radius: 0.5rem;
	padding: 2rem;
	width: 100%;
	max-width: 700px;
	margin: 2rem auto 0;
}

#about {
	text-align: left;
}

#partners img {
	max-height: 8vw;
}
#sponsors img {
	max-height: 8vw;
}
#partners a:hover img,
#sponsors a:hover img {
	transform: translateY(-2px);
	filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2));
}

#previous-years img {
	box-shadow: 0px 5px 14px 0px rgba(69,69,69,0.25);
}


::selection {
	background: #2980b9;
	background: transparent;
	text-shadow: #3498db 0 0 19px;
	color: #02a2dd;
	-webkit-text-fill-color: #02a2dd;
}
::-moz-selection {
	background: #2980b9;
	background: transparent;
	text-shadow: #3498db 0 0 19px;
	color: #02a2dd;
}